*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.container{
    margin: 20px;
width: auto;
height: auto;

}
input{

    padding: 8px;
}
li{
    list-style: none;
    color: white;
}
@media (max-width:676px){
    body{
        flex-direction: column;
    }
    .container{
        margin: 0px;
        width: auto;
        height: auto;
        
    }
}
